doctype
html
  head
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/main.css")

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="účetnictví, účetní poradenství, daňová evidence, švehlová, monika švehlová")
    meta(name="description" content="Oficiální internetová prezentace Bc. Moniky Švehlové")

    title Monika Švehlová - účetnictví a poradenství
  body

    header
      .container
        h1
          a(href="/") Bc. Monika Švehlová

        h2 účetnictví a poradenství

    != yield

    footer
      .container
        p
          |  &copy; 2015 Bc. Monika Švehlová
          |  &mdash; 
          a(href="/") Služby
          |  &mdash; 
          a(href="/reference") Reference
          |  &mdash; 
          a(href="/cenik") Ceník
          |  &mdash; 
          a(href="/kontakt") Kontakt
