div.navigation
  .container.pure-menu.pure-menu-open.pure-menu-horizontal
    ul
      li
        a(href="/") Služby
      li
        a(href="/reference") Reference
      li.pure-menu-selected
        a(href="/cenik") Ceník
      li
        a(href="/kontakt") Kontakt

.container

  h2 Ceník

  p Níže uvedený ceník je pouze orientační a výchozí při sjednávání spolupráce. Konečnou cenu stanovuji podle potřeb a požadavků zákazníka vždy individuálně. Při dlouhodobé spolupráci navrhuji smluvní paušál, který je pro klienta výhodnější než ceníkové ceny.

  table.pure-table.pure-table-bordered
    col(style="width: 70%")
    col(style="width: 20%")
    col(style="width: 10%")
    thead
      tr
        th Úkon
        th Cena
        th Poznámka

    tbody
      tr
        td Zpracování daňové evidence
        td 15,- Kč
        td za položku
      tr
        td Zpracování účetnictví
        td 20,- Kč
        td za položku
      tr
        td Zpracování přiznání k dani z příjmů fyzických osob
        td 1.000,- Kč
        td
      tr
        td Zpracování přiznání k dani z příjmů právnických osob
        td 3.000,- Kč
        td
      tr
        td Zpracování přiznání k silniční dani
        td 250,- Kč
        td za auto
      tr
        td Zpracování přiznání k DPH
        td 400,- Kč
        td
      tr
        td Evidence zaměstnance (V ceně je zahrnuto roční vyúčtování daně, základní personální agenda, přihlášky a odhlášky zaměstnanců)
        td 250,- Kč
        td za osobu
      tr
        td Zastupování firmy na úřadech
        td 400,- Kč
        td za hodinu
      tr
        td Poradenství
        td 400,- Kč
        td za hodinu
