header
  .container
    h1 Monika Švehlová

    h2 účetní poradkyně

.container
  h3 O mně

  p Profesionálně, spolehlivě a pečlivě vedené <strong>účetnictví pro firmy</strong> jako <strong>komplexní balíček</strong> nebo jako jednotlivé služby: mzdová agenda a personalistika, podvojné účetnictví, daňová evidence včetně účetních uzávěrek, zpracování daňových přiznání k DPH, k dani z příjmů fyzických i právnických osob či k silniční dani. Zastupování firem na úřadech státní správy. K zajištění co nejširších služeb a spolehlivé správnosti <strong>průběžné sebevzdělávání</strong> formou pravidelných školení z oboru a spolupráce s daňovým poradcem.

  h3 Kontakt

  table.pure-table
    tbody
      tr
        td <i class="fa fa-phone"></i> Telefon
        td +420 603 288 143
      tr
        td <i class="fa fa-envelope"></i> Email
        td <a href="mailto:monika@monikasvehlova.cz" title="Poslat email na tuto adresu">monika@monikasvehlova.cz</a>
      tr
        td <i class="fa fa-home"></i> Web
        td <a href="http://monikasvehlova.cz">monikasvehlova.cz</a>
      tr
        td Adresa
        td Bylinková 5<br> 301 00 Plzeň-Lhota
      tr
        td IČ
        td <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_res.cgi?odp=html&ICO=69946833">69946833</a> (neplátce DPH)
