div.navigation
  .container.pure-menu.pure-menu-open.pure-menu-horizontal
    ul
      li
        a(href="/") Služby
      li
        a(href="/reference") Reference
      li
        a(href="/cenik") Ceník
      li.pure-menu-selected
        a(href="/kontakt") Kontakt

.container

  h2 Kontakt

  table.pure-table
    tbody
      tr
        td <i class="fa fa-phone"></i> Telefon
        td +420 603 288 143
      tr
        td <i class="fa fa-envelope"></i> Email
        td <a href="mailto:kontakt@monikasvehlova.cz" title="Poslat email na tuto adresu">kontakt@monikasvehlova.cz</a>
      tr
        td <i class="fa fa-home"></i> Web
        td <a href="http://monikasvehlova.cz">monikasvehlova.cz</a>
      tr
        td Adresa
        td Bylinková 5<br> 301 00 Plzeň-Lhota
      tr
        td IČ
        td <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_res.cgi?odp=html&ICO=69946833">69946833</a> (neplátce DPH)
