body {
  color: #414141;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00a0ff;
}

h1, h2, h3 {
  color: #30487b;
}

header {
  background-color: #e8f6ff;
  h1 a {
    color: #30487b;
    text-decoration: none;
  }
}

.navigation {
  background-color: #e8f6ff;
  .container {
    padding: 0;
  }
  .pure-menu {
    background-color: transparent;
    a {
      color: #414141;
      &:hover {
        background-color: white;
      }
    }
  }
  .pure-menu-selected {
    background-color: white;
  }
}

.container {
  padding: 1em;
  max-width: 700px;
  padding: 1em;
  margin: 0 auto;
}
