div.navigation
  .container.pure-menu.pure-menu-open.pure-menu-horizontal
    ul
      li
        a(href="/") Služby
      li.pure-menu-selected
        a(href="/reference") Reference
      li
        a(href="/cenik") Ceník
      li
        a(href="/kontakt") Kontakt

.container

  h2 Reference

  p
    a(href="http://www.lupasoft.cz/")
      div
        img(src="logo-lupasoft.png")
      | Lupasoft s.r.o.

  p
    a(href="http://www.baumrukr.cz/")
      div
        img(src="logo-bb.jpg" width="200px")
      | Brzdy Baumrukr, s.r.o.
